<div class="container">
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/nlogx"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    nlogx <i class="fa fa-heart"></i>
  </div>
</div>
</div>

