table {
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 20px 20px -22px $dark-sand;
}

h3 {
  margin-top: 30px;
  color: #333;
  opacity: 0.9;
}

ul {
  list-style: none;
  padding: 10px;
}

.table-header {
  border-bottom: 1px solid #755f34;
}

.row-basics, .row-functions {
  border-bottom: 1px dotted #a57d2c;
}

.lang1, .lang2 {
  background-color: rgba(250, 250, 250, 0.6);
  margin: 10px;
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  max-width: 30vw;
}
