---
title: JavaScript DOM
---
<div class="container">
    <div class="container">
        <h3>JavaScript DOM</h3>
        <br>
    </div>
    <div class="container dom-table">
        <div class="table-header">
            <div class="row">
                <div class="header-keywords col-xs-12 col-md-2">
                    <h5><strong>Keywords</strong></h5>
                </div>
                <div class="header-code col-xs-12 col-sm-7 col-md-6">
                    <h5><strong>Code</strong></h5>
                </div>
                <div class="header-notes col-xs-12 col-sm-5 col-md-4">
                    <h5><strong>Notes</strong></h5>
                </div>
            </div>
        </div>
        <div class="dom-content">
            <% data.dom.each do |key, command| %>
            <div class="dom-key">
                <div class="row">
                    <div class="col-xs-12 col-md-2 col-lg-1">
                        <h5><%= key %></h5><br>
                    </div>
                    <div class="col-code col-xs-12 col-sm-7 col-md-6 col-lg-6">
                        <pre class="code"><%= command.code %></pre>
                    </div>
                    <div class="col-notes col-xs-12 col-sm-5 col-md-4 col-lg-5">
                        <pre class="notes"><em><%= command.notes %></em></pre>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
