---
title: Welcome to languages
---

<table>
  <thead>
    <tr>
      <th>Keywords</th>
      <th>Ruby</th>
      <th>JavaScript</th>
    </tr>
  </thead>
  <tbody>
    <% data.functions.each do |method| %>
    <tr>
      <td><%= method.keyword %></td>
      <td><%= method.ruby %></td>
      <td><%= method.js %></td>
    </tr>
    <% end %>
  </tbody>
</table>
